# All of Us Dataset Practice

In [1]:
import pandas as pd

### Patient profile

In [4]:
profile = pd.read_csv('D:/F2023/AOU/df_A.csv')
profile

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth
0,1198242.0,"Not man only, not woman only, prefer not to an...",1960-09-03 00:00:00 UTC,I prefer not to answer,PMI: Prefer Not To Answer,No matching concept
1,2081835.0,"Not man only, not woman only, prefer not to an...",1985-05-06 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept
2,1282552.0,"Not man only, not woman only, prefer not to an...",1950-01-13 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept
3,1699733.0,"Not man only, not woman only, prefer not to an...",1942-03-28 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept
4,1112415.0,"Not man only, not woman only, prefer not to an...",1940-11-07 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept
...,...,...,...,...,...,...
410356,3452399.0,Female,1946-02-20 00:00:00 UTC,White,Not Hispanic or Latino,Female
410357,2155804.0,Female,1954-11-15 00:00:00 UTC,White,Not Hispanic or Latino,Female
410358,2094884.0,Female,1960-01-20 00:00:00 UTC,White,Not Hispanic or Latino,Female
410359,5943794.0,Female,1984-03-05 00:00:00 UTC,White,Not Hispanic or Latino,Female
410360,2249480.0,Female,1940-05-02 00:00:00 UTC,White,Not Hispanic or Latino,Female

In [24]:
profile.gender.value_counts()

gender
Female                                                            245601
Male                                                              152142
Not man only, not woman only, prefer not to answer, or skipped     12521
No matching concept                                                   97
Name: count, dtype: int64

In [6]:
profile['genderBin'] = profile['gender'].apply(lambda x: 1 if x =='Female' else 0)
profile['genderBin'].value_counts()

genderBin
1    245601
0    164760
Name: count, dtype: int64

In [26]:
profile.race.value_counts()

race
White                        226615
Black or African American     78321
None Indicated                64614
Asian                         14162
PMI: Skip                      9054
More than one population       7720
None of these                  4351
Another single population      2987
I prefer not to answer         2537
Name: count, dtype: int64

In [9]:
profile['raceBin'] = profile.race.apply(lambda x: 1 if x == 'White' else 0)

In [10]:
profile.raceBin.value_counts()

raceBin
1    226615
0    183746
Name: count, dtype: int64

In [29]:
profile.ethnicity.value_counts()

ethnicity
Not Hispanic or Latino                               320377
Hispanic or Latino                                    73945
PMI: Skip                                              9054
What Race Ethnicity: Race Ethnicity None Of These      4351
PMI: Prefer Not To Answer                              2537
No matching concept                                      97
Name: count, dtype: int64

In [13]:
profile['ethnicBin'] = profile.ethnicity.apply(lambda x: 1 if x=='Not Hispanic or Latino' else 0)
profile['ethnicBin'].value_counts()

ethnicBin
1    320377
0     89984
Name: count, dtype: int64

In [15]:
profile.sex_at_birth.value_counts()

sex_at_birth
Female                                                    248130
Male                                                      153582
Not male, not female, prefer not to answer, or skipped      4366
No matching concept                                         4283
Name: count, dtype: int64

In [20]:
profile['sex_at_birthBin'] = profile.sex_at_birth.apply(lambda x: 1 if x == 'Female' else 0)
profile.sex_at_birthBin.value_counts()

sex_at_birth
1    248130
0    162231
Name: count, dtype: int64

In [21]:
# Rewview overall binary columns and non binary columns
profile

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,genderBin,raceBin,ethnicBin,sex_at_birthBin
0,1198242.0,"Not man only, not woman only, prefer not to an...",1960-09-03 00:00:00 UTC,I prefer not to answer,PMI: Prefer Not To Answer,No matching concept,0,0,0,0
1,2081835.0,"Not man only, not woman only, prefer not to an...",1985-05-06 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept,0,0,0,0
2,1282552.0,"Not man only, not woman only, prefer not to an...",1950-01-13 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept,0,0,0,0
3,1699733.0,"Not man only, not woman only, prefer not to an...",1942-03-28 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept,0,0,0,0
4,1112415.0,"Not man only, not woman only, prefer not to an...",1940-11-07 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
410356,3452399.0,Female,1946-02-20 00:00:00 UTC,White,Not Hispanic or Latino,Female,1,1,1,1
410357,2155804.0,Female,1954-11-15 00:00:00 UTC,White,Not Hispanic or Latino,Female,1,1,1,1
410358,2094884.0,Female,1960-01-20 00:00:00 UTC,White,Not Hispanic or Latino,Female,1,1,1,1
410359,5943794.0,Female,1984-03-05 00:00:00 UTC,White,Not Hispanic or Latino,Female,1,1,1,1
410360,2249480.0,Female,1940-05-02 00:00:00 UTC,White,Not Hispanic or Latino,Female,1,1,1,1

### Patient with Some Types of Liver Cancer

In [23]:
hasLiverCancer = pd.read_csv('D:F2023/AOU/df_B.csv')

In [24]:
print('Number of Conditions')
hasLiverCancer.standard_concept_name.value_counts()

Number of Conditions

standard_concept_name
Secondary malignant neoplasm of liver                               33712
Liver cell carcinoma                                                16810
Primary malignant neoplasm of liver                                  8181
Intrahepatic bile duct carcinoma                                     7526
Secondary malignant neoplasm of liver and intrahepatic bile duct     3429
Malignant neoplasm of liver                                          2113
Primary malignant neoplasm of intrahepatic bile duct                 2023
Malignant neoplasm of intrahepatic gall duct                           73
Metastasis to liver from adenocarcinoma                                45
Malignant neoplasm of liver and intrahepatic bile ducts                23
Sarcoma of liver                                                        6
Adenocarcinoma of liver                                                 6
Hepatoblastoma                                                          4
Combined hepatocellular carcinoma and cholangiocarcinoma                1
Name: count, dtype: int64

In [25]:
def get_earliest_date_lcancer(dataframe: pd.DataFrame= None):
    '''
    params: 
    accepts dataframe and get earliest date based on person id.
    The person with more than 2 conditions, will get the only earliest date 
    of the condition. We are not interested in what is the name of the condition.

    returns: dataframe consists of person id and earliest date
    '''
    output = {'person_id':[], 'csdLC':[]}
    dataframe['csd'] = dataframe.condition_start_datetime.apply(lambda x: pd.to_datetime(x, utc=True))
    ids = dataframe.person_id.unique()
    for id in ids:
        df = dataframe[dataframe.person_id == id]
        output['person_id'].append(id)
        output['csdLC'].append(df.csd.min())
    return output

In [26]:
hasLC = pd.DataFrame(get_earliest_date_lcancer(dataframe=hasLiverCancer))

In [29]:
hasLC.columns = ['person_id', 'csdLC']
hasLC['value'] = 1
hasLC

      person_id                     csdLC  value
0       3167820 2018-08-15 21:14:26+00:00      1
1       9513338 2017-10-20 15:26:00+00:00      1
2       1800706 2021-04-15 00:00:00+00:00      1
3       6243358 2019-05-03 06:00:00+00:00      1
4       1162056 2020-03-24 00:00:00+00:00      1
...         ...                       ...    ...
2166    2822836 2012-04-17 05:00:00+00:00      1
2167    1251459 2010-08-23 05:00:00+00:00      1
2168    1229379 2018-07-05 00:00:00+00:00      1
2169    2566986 2012-06-11 00:00:00+00:00      1
2170    1866790 2011-09-14 13:30:00+00:00      1

[2171 rows x 3 columns]

### Disease Data

In [32]:
df = pd.read_csv('D:/F2023/AOU/df_C.csv')

In [34]:
df.columns = ['pid', 'scn', 'scc', 'csd']
df

,pid,scn,scc,csd
0,1371482,Disorder of cardiovascular system,49601007,2022-03-06 22:55:00 UTC
1,2709328,Disorder of cardiovascular system,49601007,2011-10-29 00:00:00 UTC
2,1005644,Disorder of cardiovascular system,49601007,2019-04-22 04:00:00 UTC
3,2322347,Disorder of cardiovascular system,49601007,2018-05-27 00:00:00 UTC
4,2020591,Disorder of cardiovascular system,49601007,2019-08-24 09:21:47 UTC
...,...,...,...,...
216967,1698359,Disorder of integument,128598002,2015-01-25 00:00:00 UTC
216968,1770186,Disorder of integument,128598002,2014-03-12 00:00:00 UTC
216969,1582582,Disorder of integument,128598002,2016-06-18 00:00:00 UTC
216970,1039151,Disorder of integument,128598002,2020-04-10 05:59:59 UTC
216971,2892671,Disorder of integument,128598002,2012-10-13 18:05:30.893 UTC

In [39]:
def simpler_concept(x):
    val = ''
    if x == 'Disorder of musculoskeletal system':
        val = 'musculoskeletal'
    elif x == 'Disorder of digestive system':
        val = 'digestive'
    elif x == 'Disorder of breast':
        val = 'breast'
    elif x == 'Disorder of hematopoietic structure':
        val = 'hematopoietic'
    elif x == 'Disorder of endocrine system':
        val = 'endocrine'
    elif x == 'Disorder of cardiovascular system': 
        val = 'cardiovascular'
    elif x == 'Disorder of respiratory system':
        val = 'respiratory'
    elif x == 'Disorder of integument':
        val = 'integument'
    elif x == 'Disorder of nervous system':
        val = 'nervous'
    elif x == 'Disorder of the genitourinary system':
        val = 'genitourinary'
    elif x == 'Disorder of mediastinum':
        val = 'mediastinum'
    elif x == 'Disorder of immune structure':
        val = 'immune'
    elif x == 'Disorder of mucous membrane':
        val = 'mucous'
    else: 
        val = 'disease not in'
        
    return val

In [40]:
df.scn.value_counts()

scn
Disorder of musculoskeletal system      43479
Disorder of digestive system            43408
Disorder of breast                      38018
Disorder of hematopoietic structure     21334
Disorder of endocrine system            20605
Disorder of cardiovascular system       16109
Disorder of respiratory system          15910
Disorder of integument                   6991
Disorder of nervous system               6246
Disorder of the genitourinary system     3019
Disorder of mediastinum                  1793
Disorder of immune structure               57
Disorder of mucous membrane                 3
Name: count, dtype: int64

In [41]:
df.scn.apply(simpler_concept).value_counts()

scn
musculoskeletal    43479
digestive          43408
breast             38018
hematopoietic      21334
endocrine          20605
cardiovascular     16109
respiratory        15910
integument          6991
nervous             6246
genitourinary       3019
mediastinum         1793
immune                57
mucous                 3
Name: count, dtype: int64

In [42]:
# apply function to data for simpler concept name
df['scn'] = df.scn.apply(simpler_concept)
df

            pid             scn        scc                          csd
0       1371482  cardiovascular   49601007      2022-03-06 22:55:00 UTC
1       2709328  cardiovascular   49601007      2011-10-29 00:00:00 UTC
2       1005644  cardiovascular   49601007      2019-04-22 04:00:00 UTC
3       2322347  cardiovascular   49601007      2018-05-27 00:00:00 UTC
4       2020591  cardiovascular   49601007      2019-08-24 09:21:47 UTC
...         ...             ...        ...                          ...
216967  1698359      integument  128598002      2015-01-25 00:00:00 UTC
216968  1770186      integument  128598002      2014-03-12 00:00:00 UTC
216969  1582582      integument  128598002      2016-06-18 00:00:00 UTC
216970  1039151      integument  128598002      2020-04-10 05:59:59 UTC
216971  2892671      integument  128598002  2012-10-13 18:05:30.893 UTC

[216972 rows x 4 columns]

In [93]:
df['value'] = 1

In [99]:
df[['pid', 'scn','value']].groupby(['pid', 'scn']).count()

                         value
pid     scn
1000042 digestive           20
1000045 breast               2
1000061 digestive            2
1000066 hematopoietic        2
1000091 breast               1
...                        ...
9998619 respiratory          4
9999318 endocrine            3
9999351 musculoskeletal      1
9999476 respiratory          2
9999653 cardiovascular       2

[65029 rows x 1 columns]

In [54]:
df['csd'] = df.csd.apply(lambda x: pd.to_datetime(x))
df

            pid             scn        scc                              csd
0       1371482  cardiovascular   49601007        2022-03-06 22:55:00+00:00
1       2709328  cardiovascular   49601007        2011-10-29 00:00:00+00:00
2       1005644  cardiovascular   49601007        2019-04-22 04:00:00+00:00
3       2322347  cardiovascular   49601007        2018-05-27 00:00:00+00:00
4       2020591  cardiovascular   49601007        2019-08-24 09:21:47+00:00
...         ...             ...        ...                              ...
216967  1698359      integument  128598002        2015-01-25 00:00:00+00:00
216968  1770186      integument  128598002        2014-03-12 00:00:00+00:00
216969  1582582      integument  128598002        2016-06-18 00:00:00+00:00
216970  1039151      integument  128598002        2020-04-10 05:59:59+00:00
216971  2892671      integument  128598002 2012-10-13 18:05:30.893000+00:00

[216972 rows x 4 columns]

In [68]:
def get_earliest_date(dataframe: pd.DataFrame= None):
    '''
    params: 
    accepts dataframe and get earliest date based on person id.
    The person with more than 2 conditions, will get the only earliest date 
    of the condition. We are not interested in what is the name of the condition.

    returns: dataframe consists of person id and earliest date
    '''
    output = []
    ids = dataframe.pid.unique()
    for ind, id in enumerate(ids):
        #print(ind, id)
        
        df = dataframe[dataframe.pid == id] 
        df_sorted = df.sort_values(by='csd')
        if df_sorted.shape[0] == 1:
            output.append(df_sorted[['pid', 'scn','csd']])
        else:
            output.append(df_sorted[['pid', 'scn','csd']].head(1))
    return output

In [69]:

df_earliest = pd.concat(get_earliest_date(dataframe=df), axis=0)
df_earliest

            pid              scn                       csd
146096  1371482   cardiovascular 2019-08-14 00:00:00+00:00
210615  2709328   cardiovascular 2011-09-23 17:45:00+00:00
99165   1005644  musculoskeletal 2019-04-17 04:00:00+00:00
3       2322347   cardiovascular 2018-05-27 00:00:00+00:00
4       2020591   cardiovascular 2019-08-24 09:21:47+00:00
...         ...              ...                       ...
216943  1333344       integument 2021-01-26 05:00:00+00:00
216952  2169089       integument 2010-08-25 05:00:00+00:00
216958  2347265       integument 2014-05-06 14:53:28+00:00
216960  1041465       integument 2017-03-14 14:00:00+00:00
216962  1889380       integument 2017-02-04 13:15:00+00:00

[50982 rows x 3 columns]

In [70]:
df_earliest = df_earliest.reset_index(drop=True)
df_earliest

           pid              scn                       csd
0      1371482   cardiovascular 2019-08-14 00:00:00+00:00
1      2709328   cardiovascular 2011-09-23 17:45:00+00:00
2      1005644  musculoskeletal 2019-04-17 04:00:00+00:00
3      2322347   cardiovascular 2018-05-27 00:00:00+00:00
4      2020591   cardiovascular 2019-08-24 09:21:47+00:00
...        ...              ...                       ...
50977  1333344       integument 2021-01-26 05:00:00+00:00
50978  2169089       integument 2010-08-25 05:00:00+00:00
50979  2347265       integument 2014-05-06 14:53:28+00:00
50980  1041465       integument 2017-03-14 14:00:00+00:00
50981  1889380       integument 2017-02-04 13:15:00+00:00

[50982 rows x 3 columns]

In [74]:
df_earliest['value'] = 1
df_wider = df_earliest.pivot(index=['pid', 'csd'], columns=['scn'], values='value').reset_index(drop=False)

In [78]:
df_wider.fillna(0, inplace=True)
df_wider

scn,pid,csd,breast,cardiovascular,digestive,endocrine,genitourinary,hematopoietic,immune,integument,mediastinum,mucous,musculoskeletal,nervous,respiratory
0,1000042,2017-11-29 13:11:00+00:00,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000045,2012-05-01 13:14:00+00:00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000061,2016-02-05 00:00:00+00:00,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000066,2010-07-11 09:11:00+00:00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000091,2016-04-05 06:00:00+00:00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50977,9998619,2017-09-30 00:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
50978,9999318,2020-01-03 05:00:00+00:00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50979,9999351,2021-08-27 04:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
50980,9999476,2021-08-08 06:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
50981,9999653,2020-08-21 11:10:00+00:00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
df_wider['n_conditions'] = df_wider.iloc[:,2:].sum(axis=1)

In [87]:
df_wider[df_wider.n_conditions == 8]

Empty DataFrame
Columns: [pid, csd, breast, cardiovascular, digestive, endocrine, genitourinary, hematopoietic, immune, integument, mediastinum, mucous, musculoskeletal, nervous, respiratory, n_conditions]
Index: []

In [55]:
# disease transformed to one hot encoding
disease_wider = pd.merge(disease_table, uniq_id_earliest_date, on='person_id', how='left')

In [68]:
disease_wider

,person_id,breast,cardiovascular,digestive,endocrine,genitourinary,hematopoietic,immune,integument,mediastinum,musculoskeletal,nervous,respiratory,csd
0,1000045,True,False,False,False,False,False,False,False,False,False,False,False,2012-05-01
1,1000091,True,False,False,False,False,False,False,False,False,False,False,False,2016-04-05
2,1000093,False,False,True,False,False,False,False,False,False,False,False,False,2020-07-23
3,1000095,False,False,True,False,False,False,False,False,False,False,False,True,2018-02-11
4,1000104,True,False,True,False,False,False,False,False,False,False,False,False,2017-08-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36035,9995183,False,False,True,False,False,False,False,False,False,False,False,False,2018-04-09
36036,9995407,True,False,False,False,False,False,False,False,False,False,False,False,2021-07-09
36037,9999318,False,False,False,True,False,False,False,False,False,False,False,False,2020-01-03
36038,9999351,False,False,False,False,False,False,False,False,False,True,False,False,2021-08-27
36039,9999653,False,True,False,False,False,False,False,False,False,False,False,False,2020-08-21

## Combine all tables

In [126]:
c1 = pd.merge(disease_wider, profile, on='person_id', how='outer')

In [146]:
final_table = pd.merge(c1, hasLC, on='person_id', how='outer')

In [151]:
#final_table.to_csv('D:/Boss/AllOfUs/final_table.csv', index=False)

In [152]:
pd.read_pickle('D:/Boss/AllOfUs/final_table.pkl')

,person_id,breast,cardiovascular,digestive,endocrine,genitourinary,hematopoietic,immune,integument,mediastinum,musculoskeletal,nervous,respiratory,csd,gender,date_of_birth,race,ethnicity,sex_at_birth,csdLC
0,1000045.0,True,False,False,False,False,False,False,False,False,False,False,False,2012-05-01,Female,1958-04-09 00:00:00+00:00,Asian,Not Hispanic or Latino,Female,NaT
1,1000091.0,True,False,False,False,False,False,False,False,False,False,False,False,2016-04-05,Female,1953-12-24 00:00:00+00:00,White,Not Hispanic or Latino,Female,NaT
2,1000093.0,False,False,True,False,False,False,False,False,False,False,False,False,2020-07-23,Female,2000-01-13 00:00:00+00:00,White,Not Hispanic or Latino,Female,NaT
3,1000095.0,False,False,True,False,False,False,False,False,False,False,False,True,2018-02-11,Female,1978-03-25 00:00:00+00:00,White,Not Hispanic or Latino,Female,NaT
4,1000104.0,True,False,True,False,False,False,False,False,False,False,False,False,2017-08-20,Female,1964-08-29 00:00:00+00:00,None Indicated,Hispanic or Latino,Female,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410356,2524505.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Female,1957-01-11 00:00:00+00:00,White,Not Hispanic or Latino,Female,NaT
410357,3452399.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Female,1946-02-20 00:00:00+00:00,White,Not Hispanic or Latino,Female,NaT
410358,2155804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Female,1954-11-15 00:00:00+00:00,White,Not Hispanic or Latino,Female,NaT
410359,5943794.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Female,1984-03-05 00:00:00+00:00,White,Not Hispanic or Latino,Female,NaT
410360,2249480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Female,1940-05-02 00:00:00+00:00,White,Not Hispanic or Latino,Female,NaT

### Disease dataset: get earliest date

In [2]:
# read disease and save 
disease = pd.read_csv('D:/F2023/AllOfUs/df_C.csv')

In [3]:
disease['csd'] = disease['condition_start_datetime'].apply(lambda x: pd.to_datetime(x))

In [4]:
def simpler_concept(condition: str=None):
    '''
    params:
    accepts string of standard concept name
    return:
    shortened version of standard concept name
    '''
    new_str = ''
    if condition == 'Disorder of breast':
       new_str = 'breast'
    elif condition == 'Disorder of digestive system':
       new_str = 'digestive'
    elif condition == 'Disorder of musculoskeletal system':
       new_str = 'musculoskeletal'
    elif condition == 'Disorder of hematopoietic structure':
       new_str = 'hematopoietic'
    elif condition == 'Disorder of respiratory system':
       new_str = 'respiratory'
    elif condition == 'Disorder of cardiovascular system':
       new_str = 'cardiovascular'
    elif condition == 'Disorder of endocrine system':
       new_str = 'endocrine'
    elif condition == 'Disorder of integument':
       new_str = 'integument'
    elif condition == 'Disorder of nervous system':
       new_str = 'nervous'
    elif condition == 'Disorder of the genitourinary system':
       new_str = 'genitourinary'
    elif condition == 'Disorder of mediastinum':
       new_str = 'mediastinum'
    elif condition == 'Disorder of immune structure':
       new_str = 'immune'
    else:
       print('condition is not shortened!!')
    return new_str

In [5]:
disease['scn'] = disease.standard_concept_name.apply(simpler_concept)

In [6]:
disease['csd2'] = disease.loc[:,'csd'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [7]:
disease2 = disease[['person_id','scn','standard_concept_code', 'csd2']].copy()

In [8]:
disease2.columns = ['person_id', 'scn', 'scc', 'csd2']
disease2

        person_id             scn        scc        csd2
0         1152610  cardiovascular   49601007  2018-08-29
1         2621724  cardiovascular   49601007  2012-02-28
2         1801041  cardiovascular   49601007  2019-05-18
3         1956972  cardiovascular   49601007  2018-09-24
4         1529466  cardiovascular   49601007  2022-02-12
...           ...             ...        ...         ...
147359    1879747         nervous  118940003  2019-12-11
147360    1700098         nervous  118940003  2012-07-17
147361    3248701         nervous  118940003  2018-10-01
147362    2601573         nervous  118940003  2020-02-02
147363    1019610         nervous  118940003  2020-02-01

[147364 rows x 4 columns]

In [9]:
import numpy as np
pid = np.array(disease2.person_id.unique())

In [83]:
pd.reset_option('display.max_rows')

In [10]:
#patient with number of conditions
patient_nth_condtions = disease2.groupby(['person_id','scn']).count()
patient_nth_condtions # saved in 'D:\\F2023\\AllOfUs\\patient_with_nth_conditions.csv'

                           scc  csd2
person_id scn
1000045   breast             2     2
1000091   breast             1     1
1000093   digestive          1     1
1000095   digestive          1     1
          respiratory        2     2
...                        ...   ...
9995183   digestive          1     1
9995407   breast             6     6
9999318   endocrine          3     3
9999351   musculoskeletal    1     1
9999653   cardiovascular     2     2

[46896 rows x 2 columns]

In [12]:
df1 = pd.read_csv('D:/F2023/AllOfUs/patient_with_nth_condtions.csv')

In [50]:
# patient with nth conditions
df1.person_id.value_counts().reset_index(name='count')#.to_csv('D:/F2023/AllOfUs/condition_count.csv', index=False)

In [27]:
nth_condition_wider = df1.pivot(index='person_id', columns='scn', values='scc').reset_index(drop=False)

In [52]:
#nth_condition_wider.fillna(0).to_csv('D:/F2023/AllOfUs/nth_condition_wider.csv', index=False)
nth_condition_wider = pd.read_csv('D:/F2023/AllOfUs/nth_condition_wider.csv')
nth_condition_wider

,person_id,breast,cardiovascular,digestive,endocrine,genitourinary,hematopoietic,immune,integument,mediastinum,musculoskeletal,nervous,respiratory
0,1000045,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000091,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000093,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000095,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,1000104,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36035,9995183,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36036,9995407,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36037,9999318,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36038,9999351,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
36039,9999653,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### TODO: get earliest date

In [60]:
def earliest_date(id: int=None, dataframe: pd.DataFrame=None):
    df = dataframe[dataframe['person_id'] == id]
    return df.sort_values(by='csd2')

earliest_date(id=pid[0], dataframe=disease2)

        person_id             scn       scc        csd2
24755     1152610  cardiovascular  49601007  2010-04-10
69287     1152610  cardiovascular  49601007  2010-05-25
83997     1152610  cardiovascular  49601007  2010-05-26
53794     1152610  cardiovascular  49601007  2010-06-25
39453     1152610  cardiovascular  49601007  2010-11-20
...           ...             ...       ...         ...
98350     1152610  cardiovascular  49601007  2021-09-02
112982    1152610  cardiovascular  49601007  2021-09-30
39405     1152610  cardiovascular  49601007  2021-11-04
98713     1152610  cardiovascular  49601007  2021-11-30
128181    1152610  cardiovascular  49601007  2021-12-09

[138 rows x 4 columns]

In [98]:
# patients with some type of liver conditions
#pd.read_csv('D:/F2023/AllOfUs/df_B.csv').groupby(['person_id', 'standard_concept_name']).count().to_csv('D:/F2023/AllOfUs/patient_with_sometype_livercondition.csv')
patients_wlcondition = pd.read_csv('D:/F2023/AllOfUs/patient_with_sometype_livercondition.csv')
patients_wlcondition

,person_id,standard_concept_name,standard_concept_code,condition_start_datetime
0,1002037,Intrahepatic bile duct carcinoma,1,1
1,1002037,Secondary malignant neoplasm of liver,3,3
2,1002156,Secondary malignant neoplasm of liver,2,2
3,1002627,Secondary malignant neoplasm of liver,4,4
4,1002962,Secondary malignant neoplasm of liver,89,89
...,...,...,...,...
3087,9898011,Liver cell carcinoma,23,23
3088,9898011,Primary malignant neoplasm of liver,24,24
3089,9967236,Secondary malignant neoplasm of liver,21,21
3090,9978622,Primary malignant neoplasm of liver,1,1
3091,9991006,Secondary malignant neoplasm of liver,185,185

In [99]:
# with liver conditions
with_lcondition = pd.read_csv('D:/F2023/AllOfUs/df_B.csv')

In [103]:
with_lcondition['csd'] = with_lcondition.condition_start_datetime.apply(lambda x: pd.to_datetime(x))

In [115]:
with_lcondition['person_id'].value_counts()

person_id
5888053    955
1934045    877
1971463    744
1234266    729
1815398    709
          ...
2002488      1
1395655      1
6315407      1
2293524      1
2704301      1
Name: count, Length: 2171, dtype: int64

In [4]:
final_data = pd.read_pickle('D:/F2023/AllOfUs/final_data.pkl')

In [10]:
final_data[final_data['csdLiver'] != '2000-01-01']#.hasLiverCancer.value_counts()

,pid,csd1,breast,cardiovascular,digestive,endocrine,genitourinary,hematopoietic,immune,integument,...,nervous,respiratory,gender,dob,race,ethnicity,sab,csdLiver,hasLiverCancer,isDiseaseBeforeCancer
37,1002156,2019-04-21,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,Female,1960-04-14,White,nhl,Female,2019-04-21,1,0
182,1010463,2005-01-14,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Female,1956-04-02,White,nhl,Female,2012-02-19,1,0
241,1013463,2017-11-13,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Female,1964-12-13,White,nhl,Female,2018-08-22,1,0
258,1014382,2002-04-29,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Female,1940-05-01,White,nhl,Female,2008-04-26,1,0
261,1014402,2015-08-24,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Female,1946-06-30,White,nhl,Female,2022-04-11,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35398,9090546,2010-02-21,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,Female,1959-11-20,White,nhl,Female,2003-04-12,1,1
35723,9554310,2014-11-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Female,1957-03-09,White,nhl,Female,2019-12-01,1,0
35760,9607000,2016-02-19,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Female,1958-11-14,White,nhl,Female,2020-09-09,1,0
35782,9638126,2012-01-22,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Female,1960-07-15,White,nhl,Female,2016-12-13,1,0
36033,9991006,2019-08-10,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,Female,1976-01-28,none,hal,Female,2017-08-06,1,1

In [14]:
final_data.sab.value_counts()

sab
Female    36040
Name: count, dtype: int64

In [16]:
df = pd.read_csv('D:/F2023/AllOfUs/df_A.csv')[['person_id', 'sex_at_birth']]

In [21]:
df[df['person_id'].isin(final_data.pid)]#.sex_at_birth.value_counts()

        person_id sex_at_birth
162237  2457996.0       Female
162240  3267336.0       Female
162259  1098296.0       Female
162264  3198661.0       Female
162272  1139837.0       Female
...           ...          ...
410312  2397827.0       Female
410321  2159864.0       Female
410338  2967799.0       Female
410345  3228865.0       Female
410358  2094884.0       Female

[36040 rows x 2 columns]

In [23]:
df.sex_at_birth.value_counts()

sex_at_birth
Female                                                    248130
Male                                                      153582
Not male, not female, prefer not to answer, or skipped      4366
No matching concept                                         4283
Name: count, dtype: int64

In [29]:
pid = pd.read_csv('D:/F2023/AllOfUs/df_C.csv').groupby('person_id').count().reset_index(drop=False).person_id

In [34]:
df[df.person_id.isin(pid)].sex_at_birth.value_counts()

sex_at_birth
Female    36040
Name: count, dtype: int64